<h2>LabWork #8</h2>
<h4>Текст задания:</h4>
<pre>
    Известно, что произведение двух целых чисел, деленное
на их наибольший общий делитель, дает наименьшее общее кратное.
    Написать программу, определяющую наибольший общий делитель
двух целых чисел n и m (n, m вводятся с клавиатуры), используя
известный алгоритм Евклида и наименьшее общее кратное этих же чисел,
опираясь на утверждение, сделанное в начале. Вывести на печать все
найденные числа и результаты промежуточных итераций. 
При программировании использовать функции.
</pre>

<h4>Задание:</h4>
<%= form_with url: '/logic/view', method: :get do |form| %>
    <%= form.label 'Введите 2 целых положительных числа:' %> <br/>
    <%= form.number_field :number_a, value: 14 %> <br/>
    <%= form.number_field :number_b, value: 21 %> <br/>
    <%= form.submit 'Найти НОД и НОК' %>
<% end %>
